PRIVATE_KEY=
TREASURY_ADDRESS=
SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
RPC_PUBLIC_URL=https://ethereum-sepolia-rpc.publicnode.com
ETHERSCAN_API_KEY=

AQUA_ADDRESS=0x1111113CCf1426A8E30e2bfF5E005d929bF6a90a
WETH_ADDRESS=0xfFf9976782d46CC05630D1f6eBAb18b2324d6B14
USDC_ADDRESS=0x1c7D4B196Cb0C7B01d743Fbc6116a902379C7238

SEED_POSITION=true
INIT_PRICE_USD=3000
